  <header id="header" class="bg-darken">
  	<div class="container">
	 	<div class="logo">
	 		<a href="#">
		 		<figure class="logo-thumb">
		 			<img src="assets/img/logo.png" alt="">
		 		</figure>
		 		<h1 class="logo-text">Your Survey Name</h1>
	 		</a>
	 	</div><!-- //logo -->
  		<div class="head-right">
  			<a href="#" class="btn-square trans">sign up</a>
  			<a href="#" class="btn-square">login</a>
  		</div>
  	</div>
  </header> <!-- HEADER -->


  
